<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.etherealss.mapper.OfficialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="pers.etherealss.pojo.po.Official">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="id_card_no" property="idCardNo" />
        <result column="introduction" property="introduction" />
        <result column="contact" property="contact" />
    </resultMap>
    <select id="selectOfficialProfileById" resultType="pers.etherealss.pojo.po.Official">
        SELECT `id`, `name`, `sex`, `contact`
        FROM `official`
        WHERE `id` = #{officialId};
    </select>

</mapper>
